{% extends "layout.html" %}
{% block body %}

<h1>Filmvorstellungen München am {{date[8:10]}}.{{date[5:7]}}.{{date[0:4]}}</h1>
<div class="list-group">
    {% for movie in movies %}
    <a href="/{{movie}}" class="list-group-item list-group-item-action"><b>{{movie}}</b><br>
        {% for (cinema, list) in data[movie].items() %}
        <em>{{cinema}}</em><br>
            {% for (time, mode) in list %}
                {{time}} {{mode}}
                <br>
            {% endfor %}
        {% endfor %}
    </a>
    {%else%}
        No movies :(
    {% endfor %}
</div>

{% endblock %}
